<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	#some.container
		h1 main title
		ul.list list 1
			li.item index 0
			li.item index 2
			li.item index 3
			li.item index 4
			li.item index 5
		ul.list list 2
			li.item index 1
			li.item index 2
			li.item index 3
			li.item index 4
			li.item index 5
		ul.list list 3
			li.item index 1
			li.item index 2
			li.item index 3
			li.item index 4
			li.item index 5
		ul.list list 4
			li.item index 1
			li.item index 2
			li.item index 3
			li.item index 4
			li.item index 5
		ul.list list 5
			li.item index 1
			li.item index 2
			li.item index 3
			li.item index 4
			li.item index 5